@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --white-base : #E8E5DA;
    --black-base : #2B303A;
    --greenish : #DDE7C7;
}

a {
    text-decoration: none;
    color : var(--white-base);
}

a:hover {
    opacity: 0.55;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--greenish);
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
    height: 100vh;
}

.main {
    padding: 20px;
    text-align: center;
}

.main-card {
    background-color: var(--black-base);
    color: var(--white-base);
    margin: 20vh auto;
    width: 350px;
    height: auto;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 27px 1px rgba(0,0,0,0.75);
}

input {
    width: 80%;
    border-radius: 7px;
    padding: 10px;
    border: none;
    outline: none;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
}

label {
    margin-left: 11px;
}

.popup-container {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.main-popup {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: var(--black-base);
    color: var(--white-base);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
   from {top: -300px; opacity: 0}
   to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
}

.popup-title {
    height: 5vh;
}

.left-side {
    margin: 0px;
    width: 100%;
    border: 2px solid var(--white-base);
    border-radius: 10px;
    padding: 5px;
}

.right-side {
    margin: 0px;
    width: 100%;
    border: 2px solid var(--white-base);
    border-radius: 10px;
    padding: 5px;
}

.close {
    color: var(--white-base);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
  }
  
.close:hover, .close:focus {
    color: var(--black-base);
    text-decoration: none;
    cursor: pointer;
}

#ButtonPopUp {
    border: 2px solid var(--white-base);
    outline: none;
    background-color: var(--white-base);
    color: var(--black-base);
    width: 100px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.1px;
    font-weight: 700;
}

#ButtonPopUp:hover {
    color: var(--white-base);
    background-color: var(--black-base);
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    body, html {
        background-repeat: no-repeat;
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .main-card {
        width: 300px;
    }

    input {
        width: 75%;
    }

    .main-popup {
        position: relative;
        width: 90%;
        margin: 0 auto;
        background-color: var(--black-base);
        color: var(--white-base);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px 10px 10px 10px; 
    }

    .popup-title {
        height: 7vh;
    }

    .left-side {
        margin: 5px auto;
        width: 90%;
    }

    .right-side {
        margin: 5px auto;
        width: 90%;
    }

    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px;
      }
      
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
    }    

    .popup-container {
        display: none;
        position: fixed; 
        z-index: 1;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
}